*{
	margin: 0;
	padding: 0;
}

body{
	background: #DBDBDB;
	border: 0px solid transparent;
}

.container{
	width: 400px;
	min-height: 200px;
	margin: auto;
	margin-top: 60px;
	border: 1px solid black;
	background: #fff;
}

.header{
	background: #78DAFA;
	height: 50px;
}

.header input[type = 'text']{
	display: inline-block;
	margin-top: 10px; 
	margin-left: 10px;
	margin-bottom: 10px;
	outline: none;
	padding: 5px;
	width: 250px;
}

.header input[type = 'button']{
	display: inline-block;
	width: 50px;
	height: 100%;
	float: right;
	border-radius: 0 0 10px 0;
	background: #74FA97;
	outline: none;
	border: 0;
	transition: background .2s ease-in-out;
}

.header input[type = 'button']:hover{
	background: #00F706;
}

.todo{
	border: 0px solid transparent;
	padding: 10px;
}

li{
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px; 
	height: 20px;

}

li .done{
	border: 0;
	background: #74FA97;
	flex-grow: 1;
	width: 10px;
	height: 100%;
	transition: width .2s ease-in-out, background .2s ease-in-out;
}

li .done:hover{
	background: #00F706;
	width: 50px;
}

li .cancell{
	border: 0;
	flex-grow: 1;
	width: 10px;
	height: 100%;
	background: #F85B5B;
	transition: width .2s ease-in-out, background .2s ease-in-out;
}

li .cancell:hover{
	width: 50px;
	background: #FF0000;
}

li span{
	flex-grow: 50;
	display: inline-block;
	background: #DCDCDC;
	padding-left: 5px
}